/*
    Name: Atlassian
    Date Created: 2/13/20
    Last Modified: 2/18/20
    Creator: Tyler Wright
    GitHub: https://github.com/tylwright/trilium-notes-extras
    Description: Trilium Notes theme that looks like an Atlassian product (ex. Confluence, JIRA, etc.)
*/

body.theme-atlassian {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px !important;
    color: #444 !important;
    font-weight: 400;
    letter-spacing: 0;
}

body.theme-atlassian .saved-indicator {
    background-color: #28a745 !important;
    border-radius: 100%;
    margin-right: 10px;
    color: white !important;
}

body.theme-atlassian, body.theme-atlassian #tree, body.theme-atlassian #container, body.theme-atlassian .note-title-row, body.theme-atlassian .note-title {
    background-color: #f4f5f7 !important;
}

body.theme-atlassian #center-pane {
    background-color: white !important;
}

body.theme-atlassian #global-buttons {
    border-radius: 0px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid lightgrey !important;
}

body.theme-atlassian #global-buttons a {
    border: none;
}

body.theme-atlassian #global-buttons a:hover {
    border: none;
    border-radius: 5px !important;
    background-color: rgba(9,30,66,.13) !important;
}

body.theme-atlassian #topbar {
    padding-left: 5px !important;
    background-color: #0049B0 !important;
    height: 40px !important;
}

body.theme-atlassian .note-tab-row, body.theme-atlassian .note-tab-row-content, body.theme-atlassian .note-tab, body.theme-atlassian .note-tab-wrapper, body.theme-atlassian .tab-row-filler, body.theme-atlassian .tab-row-border, body.theme-atlassian #topbar, body.theme-atlassian #global-menu-wrapper {
    border: none !important;
    border-color: none !important;
    border-bottom: none !important;
    height: 40px !important;
}

body.theme-atlassian .tab-row-border {
    background: none !important;
}

body.theme-atlassian .note-tab-row {
    margin: 0px !important;
}

body.theme-atlassian .note-tab-row-content {
    background-color: #0049B0 !important;
    height: 40px !important;
    line-height: 30px !important;
}

body.theme-atlassian #toolbar {
    padding-left: 5px;
    background-color: #C8C8C8 !important;
    padding-top: 2px; 
    padding-bottom: 3px;
}

body.theme-atlassian #toolbar button {
    background-color: transparent !important;
    border: none !important;
    padding: 4px !important;
    margin: 2px !important;
}

body.theme-atlassian #toolbar button:hover {
    background-color: rgba(9,30,66,.13) !important;
    border: none !important;
    padding: 4px !important;
    margin: 2px !important;
}

body.theme-atlassian #global-menu, #global-menu button {
    background-color: none !important;
    border-color: none !important;
    border: none !important;
    height: 40px !important;
}

body.theme-atlassian #global-menu-wrapper {
    height: 40px !important;
}

body.theme-atlassian .note-new-tab {
    display: inline-block !important;
    text-align: center;
    margin-left: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    height: 30px !important;
    background-color: #0065FF !important;
    border-color: rgba(9, 30, 66, 0.48) !important;
    border-radius: 3px !important;
    font-size: 16px !important;
    line-height: 32px !important;
    color: white !important;
}

body.theme-atlassian .note-new-tab:hover {
    filter: brightness(1.2) !important;
}

body.theme-atlassian .note-tab[active] .note-tab-wrapper {
    background-color: rgba(9, 30, 66, 0.48) !important;
    font-weight: normal !important;
}

body.theme-atlassian .note-tab .note-tab-wrapper {
    background-color: #0049B0 !important;
    padding-left: 15px !important;
    margin-top: 0px !important;
    height: 40px !important;
}

body.theme-atlassian .note-tab-row .note-tab .note-tab-wrapper {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

body.theme-atlassian .note-tab-title {
    color: #DEEBFF !important;
    text-overflow: ellipsis !important;
}

body.theme-atlassian .note-tab-close {
    line-height: 40px !important;
}

body.theme-atlassian .note-tab-row .note-tab .note-tab-close:hover {
    background-color: transparent !important;
    color: white !important;
}

body.theme-atlassian .note-tab-row {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

body.theme-atlassian #global-menu, body.theme-atlassian #global-menu button {
    background-color: transparent !important;
    background: none !important;
    color: white !important;
}

body.theme-atlassian .card-header {
    background-color: #0049B0 !important;
}

body.theme-atlassian .card-header div .widget-title, body.theme-atlassian .card-header div .widget-help, body.theme-atlassian .widget-header-action {
    color: white !important;
    --muted-text-color: white !important;
    --link-color: white !important;
}

body.theme-atlassian .widget-help:hover {
    text-decoration: none !important;
    --link-color: lightgrey !important;
    color: lightgrey !important;
}

body.theme-atlassian .widget-header-action:hover {
    --link-color: lightgrey !important;
}

body.theme-atlassian #center-pane th {
    background-color: #f4f5f7 !important;
}

body.theme-atlassian #center-pane td, body.theme-atlassian #center-pane th {
    padding: 6px 8px !important;
    border: 1px solid #DDD !important;
    overflow: auto !important;
}

body.theme-atlassian #center-pane table {
    table-layout: fixed !important;
    max-width: 100% !important;
    border-spacing: 0 !important;
}

body.theme-atlassian .note-type-button {
    background-color: transparent !important;
    border: none !important;
}

body.theme-atlassian .note-type:hover > body.theme-atlassian .note-type-button {
    background-color: rgba(9,30,66,.13) !important;
}

body.theme-atlassian .note-actions button {
    background-color: transparent !important;
    border: none !important;
}

body.theme-atlassian .note-actions:hover button {
    background-color: rgba(9,30,66,.13) !important;
}

body.theme-atlassian .note-path-list-button {
    background-color: transparent !important;
    border: none !important;
}

body.theme-atlassian .note-path-list-button:hover {
    background-color: rgba(9,30,66,.13) !important;
}

body.theme-atlassian #note-tab-container {
    padding-left: 0px !important;
    border: 1px solid lightgrey;
}

body.theme-atlassian .note-title-row {
    padding-bottom: 3px;
}

body.theme-atlassian #right-pane {
    padding-top: 12px !important;
}

body.theme-atlassian p {
    padding: 0.2rem 0 0;
}

body.theme-atlassian ol {
    padding-left: 20px;
}

body.theme-atlassian h1 {
    font-size: 24px !important;
    font-weight: normal !important;
    color: #172b4d !important;
    line-height: 1.25 !important;
}

body.theme-atlassian h2 {
    font-size: 20px !important;
    font-weight: normal !important;
    color: #172b4d !important;
    line-height: 1.5 !important;
}

body.theme-atlassian h3 {
    font-size: 16px !important;
    font-weight: bold !important;
    color: #172b4d !important;
    line-height: 1.5 !important;
}

body.theme-atlassian h4 {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #404040 !important;
    line-height: 1.4 !important;
}

body.theme-atlassian h5 {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #5e6c84 !important;
    line-height: 1.7 !important;
}

body.theme-atlassian h6 {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #5e6c84 !important;
    line-height: 1.7 !important;
}